#topology {  
}

.node {
}

.node.fixed {
    fill: #000000;
}

.network.fixed {
    fill: #000000;
}

.node text {
    font-size: 14px;
}

.network text {
	font-size: 14px;
}

.link {
    stroke: black;
    stroke-opacity: .6;
    stroke-width: 2px;
}

.port circle {
    stroke: black;
    fill: #C5F9F9;
}

.port text {
    font-size: 10px;
}
.delay rect {
    stroke: black;
    fill: #C5F9F9;
}

.delay text {
    font-size: 10px;
}

