<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin | Strass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin panel developed with the Bootstrap from Twitter.">
    <meta name="author" content="travis">

    <link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/site.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    {% block otherstyles %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SManager</a>
          <div class="btn-group pull-right">
			<a class="btn" href="my-profile.html"><i class="icon-user"></i> Admin</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
			  <li><a href="my-profile.html">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
					<li><a href="{{ url_for('index') }}">Home</a></li>
            <!--   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="new-user.html">New User</a></li>
					<li class="divider"></li>
					<li><a href="users.html">Manage Users</a></li>
				</ul>
			  </li> -->
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">FlowEntry<b class="caret"></b></a>
				<ul class="dropdown-menu">
						<li><a href="{{ url_for('add') }}">New FLowEntry</a></li>
					<li class="divider"></li>
					<li><a href="roles.html">Manage FlowEntry</a></li>
				</ul>
			  </li>
			  <!-- <li><a href="stats.html">Stats</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><i class="icon-wrench"></i> Administration</li>
			  <li {% if currentSlide== 'index' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Flowentry</a></li>
			  <li {% if currentSlide== 'router'%}class="active"{% endif %}><a href="{{ url_for('index') }}?type=router">Switch</a></li>
              <li class="nav-header"><i class="icon-signal"></i> Statistics</li>
              <li><a href="stats.html">General</a></li>
              <li><a href="user-stats.html">Users</a></li>
              <li><a href="visitor-stats.html">Visitors</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {% block main %}{% endblock %}
        </div>
      </div>

      <hr>

    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    {% block otherscripts %}{% endblock %}
  </body>
</html>
