{% extends 'base.html' %}
{% block otherstyles %}
    <link href="static/css/ryu.topology.css" rel="stylesheet">
{% endblock %}
{% block main %}
		<div class="well hero-unit" id="topoContainer" style="height:250px">
            <!-- <h1>Welcome, Admin</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
            <p><a class="btn btn-success btn-large" href="users.html">Manage Users &raquo;</a></p> -->
          </div>
          <div class="row-fluid">
            <div class="span2"></div>
            <div class="span3">
              <h3>Total flowenties</h3>
              <p><a href="users.html" id="entrynum" class="badge badge-inverse">563</a></p>
            </div>
            <div class="span3">
              <h3>Switches</h3>
              <p><a href="users.html" id="switchnum" class="badge badge-inverse">8</a></p>
            </div>
            <div class="span3">
              <h3>Links</h3>
			        <p><a href="users.html" id="linknum"  class="badge badge-inverse">2</a></p>
            </div>
            <!-- <div class="span3">
              <h3>Roles</h3>
			  <p><a href="roles.html" class="badge badge-inverse">3</a></p>
            </div> -->
          </div>
		  <br />
		  <div class="row-fluid">
			<div class="page-header">
				<div class="row-fluid">
				<h1 class="pull-left">Flow Entries <small id="destswitch">for All Switches</small></h1>
				<a class="btn btn-success pull-right" href="{{ url_for('add') }}">Add Entry</a>
				&nbsp;&nbsp;&nbsp;
				<select id='switchselect' class='pull-right'>
					<option value="0">All switches</option>
					
				</select>
				&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>DPID</th>
						<th>Actions</th>
						<th>Match</th>
						<th>packet_count</th>
						<th>priority</th>
						<th>idle_timeout</th>
						<th>hard_timeout</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody id="entries">
				</tbody>
			</table>
		  </div>
{% endblock %}
{% block otherscripts %}
<script src="{{url_for('static',filename='js/underscore.min.js')}}"></script>
<script src="{{url_for('static',filename='js/d3.min.js')}}"></script>
<script src="{{url_for('static',filename='js/ryu.topology.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.json.min.js')}}"></script>
<script id="entry_temp">
				<tr class="pending-user" data-index="<%= index %>">
					<td><%= dpid  %></td>
					<td><%= actions %></td>
					<td><%= matches %></td>
					<td><%= packet_count %></td>
					<td><%= priority %></td>
					<td><%= hard_timeout %></td>
						<td><%= idle_timeout %>
					<td><span class="user-actions"><a href="#" class="label label-success updatelink">Details</a>&nbsp;<a href="#" class="label label-important deletelink">Delete</a></td>
				</tr>
</script>
<script>
switches_addr = "{{ url_for('topoSwitches') }}";
links_addr = "{{ url_for('topoLinks') }}";
initWsClient("{{ wsServerAddr }}");
flowUrl = "{{ url_for('flow',id='') }}"
routerSvgUrl = "{{ url_for('static',filename='js/router.svg') }}"
cloudSvgUrl = "{{ url_for('static',filename='js/Cartoon_cloud.svg') }}"
var containerQuery = "#topoContainer"
var deleteFlowAddr = "{{ url_for('deleteentry') }}"
var updateFlowAddr = "{{ url_for('update') }}"
var getFlowAddr = "{{ url_for('flow',id=0) }}";
var currentEnts = [];
var entry_temp = _.template($("#entry_temp").text());
var actionMapping = {{ actiontypes|tojson|safe }}
function getFlowEntry(dpid,callback)
{
	$.getJSON(getFlowAddr+dpid,callback);
}
function initIndexEntryTable(dpid,switches)
{
	console.log('switches:'+$.toJSON(switches));
	currentEnts = [];
	$("#entries").html('');
	function callback(data)
	{
		var items = data.content;
		console.log('ents:'+$.toJSON(items));
		console.log(items);
		for (var id in items)
		{
			var ents = items[id];
			for(var i in ents)
			{
				ents[i]['dpid'] = id;
				currentEnts.push(ents[i]);
				ents[i]['actions'] = ents[i]['actions'].join(';');
				ents[i]['matches'] = $.toJSON(ents[i]['match']);
				ents[i]['index'] = currentEnts.length-1;
				$('#entries').append($(entry_temp(ents[i])));
			}
		}		
	}
	if(dpid == 0)
	{
		for(var s in switches)
		{
			$.getJSON(getFlowAddr+switches[s],callback);
		}
	}
	else
	{
		$.getJSON(getFlowAddr+dpid,callback);
	}
}
function deleteFLowEntry(index,tr)
{
	if(currentEnts.length < index)
	{
		alert("System Error!Please refresh current page");
	}
	if(!confirm("Do you sure to delete this flow entry?"))
	{
		return ;
	}
	var entry = currentEnts[index];
	var actions = [];
	/*entry['actions'] = entry['actions'].split(';');
	for(var x in entry['actions'])
	{
		var actionsplit = entry['actions'][x].split(':')
		console.log(actionsplit);
		var action = {'type':actionsplit[0],'port':actions[1]};	
		actions.push(action);
	}
	entry.actions = actions*/
	var data = $.toJSON(entry);
	$.post(deleteFlowAddr,{'arg':data},function(data){
		if(data.status == 'success')
		{
			alert("Delete Entry Successfully!");
			tr.remove();
		}		
		else 
		{
			alert('Delete Failed for : '+data.reason);
		}
	});
}
function updateFlowEntry(index,tr)
{
	if(currentEnts.length < index)
	{
		alert("System Error!Please refresh current page");
	}
	var entry = currentEnts[index];
	var data = $.toJSON(entry);
	location.href = updateFlowAddr+"?arg="+data;
	/*$.post(updateFlowAddr,{'arg':data},function(data){
		if(data.status == 'success')
		{
			alert("Delete Entry Successfully!");
			tr.remove();
		}		
		else 
		{
			alert('Delete Failed for : '+data.reason);
		}
	});*/
}
$(document).ready(function(){
	CONF.force.width = $("#topoContainer").width();
	CONF.force.height = $('#topoContainer').height();
	topo_main();
	$.getJSON("{{ url_for('topoSwitches') }}",function(data){
		$("#switchnum").text(data['content'].length);	
		var switches = data['content'];
		var dpids = [];
		for(var x in switches)
		{
			var dpid = parseInt(switches[x]['dpid']);
			dpids.push(dpid);
			$("#switchselect").append($('<option value="'+dpid+'">Switch '+dpid+'</option>'));
		}
		console.log(dpids);
		initIndexEntryTable(0,dpids);
		$("#switchselect").change(function(){
			var selected = $(this).val();
			initIndexEntryTable(selected,dpids);
			var dest;
			if(selected == 0)
				dest = 'For All Switches';
			else 
				dest = 'For Switch '+selected;
			$('#destswitch').text(dest);
		});
	});

	$.getJSON("{{ url_for('topoLinks') }}",function(data){
		$("#linknum").text(data['content'].length);
	});

	$.getJSON("{{ url_for('entrynum') }}",function(data){
		$('#entrynum').text(data.content);	
	});
	$("table").on('click','.deletelink',function(e){
		e.preventDefault();
		var tr = $(this).parent().parent().parent();
		var index = parseInt(tr.attr('data-index'));
		console.lot("the index ready to delte is : "+index);
		deleteFLowEntry(index,tr);
	})
	$("table").on('click','.updatelink',function(e){
		e.preventDefault();
		var tr = $(this).parent().parent().parent();
		var index = parseInt(tr.attr('data-index'));
		console.lot("the index ready to update is : "+index);
		updateFlowEntry(index,tr);
	})
})
</script>
{% endblock %}
